.header {
  padding: 10px 20px;
  background-color: var(--background-primary-color);
  z-index: 50;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1200px;
}

.menu {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.menuItem {
  list-style: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: var(--primary-color);
}

.userSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userName {
  font-size: 18px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.portal {
  position: fixed;
  z-index: 30;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--background-primary-color);
    width: 100%;
    text-align: center;
    padding-block: 30px;
  }

  .menu.open {
    display: flex;
    height: auto;
  }

  .menuToggle {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .menuToggle {
    display: none;
  }
}
